body{
    background: #474787;
}
html{
    scroll-behavior: smooth;

}


*{
    font-family: 'Be Vietnam Pro', sans-serif;
}
div.wa{
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    z-index: 4;
}
div.wa a:hover{
    background: #6a6abd !important;
    transition: 0.8s;
}
nav.navbar{
    background: #474787;    
}
.navbar-brand, .nav-link{
    color: #ffffff;
    font-weight: 600;
}
.nav-link{
    font-size: 1.2rem;
    margin-right: 1rem;
    text-decoration: none;
}
div.navbar-nav .nav-link:hover, .navbar-brand:hover, .social:hover{
    color: #b1aeac;
    transition: 0.5s;
}
.navbar-brand{
    font-size: 1.4rem;
}
section#home,section#do,section#projects{
    width: 100%;
    height: auto;
    padding: 8rem 8rem;
}

section#skills{
    width: 100%;
    height: 100%;
}

h2.intro1{
    font-size: 2rem;    
}
h2.intro2{
    font-size: 2.5rem;    
    background: -webkit-linear-gradient(70deg, #ffffff, #5a5a5a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p.intro3{
    font-size: 1.2rem;
    font-weight: 600;
}
span.fullstack{ 
    background: -webkit-linear-gradient(50deg, #f07328, #abeb9b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-hire-me{
    background: #ffffff;
    color: #474787;
    font-weight: 600;
    margin-right: 8px;
    border-color: #ffffff;
}
.btn-my-works{
    background: #474787;
    color: #ffffff;
    font-weight: 600;
    border-color: #ffffff;
}
.btn-hire-me:hover{
    background: #474787;
    color: #ffffff;
    border-color: #ffffff;
}
.btn-my-works:hover{
    background: #ffffff;
    color: #474787;
    border-color: #474787;
}

div.ido{
    font-size: 9rem;
    background: #474787;
    color: #fff2ff;
}
p.headline{
    font-weight: 800;
    font-size: 1rem;
}

ul.nav-pills li button.active,
ul.nav-pills li button:hover{
    background: none !important;
    border-bottom: 2px solid #b1aeac;
    border-radius: 0px;
    transition: 0.5s;
    color: #b1aeac;
}
div.my-service{
    width: 100%;
    height: 15.5rem;
    background: rgba(71, 71, 135);
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 2.5px );  
}
div.my-service img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
}
div.icon{
    background: #474787;
    color: #fff2ff;
    font-size: 1.3rem;
    border-radius: 5px;
    position: absolute;
    top: -1.5rem;
}
p.judul{
    font-size: 1.2rem;
}

p.detail{
    position: absolute;
    top: 14.5%;
    font-size: 1.2rem;
    text-align: justify;
    height: 18rem;
    background: #474787;    
    opacity: 0;
}

.card-projects img{
    width: 100%;
    height: 15.5rem;
    object-fit: fill;
}

.card-projects .case{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: #ffffff;
}
.card-projects .case a{
    position: absolute;
    bottom: 0.9rem;
    right: 1rem;
    font-size: 1.2rem;
}
@media (max-width: 768px) { 
    section#projects{        
        padding: 3rem 1rem;
    }
}
@media (max-width: 575.98px) { 
    section#home,section#do{
        padding: 3rem 1rem;
    }
    .card-projects img{
        width: 100%;
        height: 14rem;
        object-fit: fill;
    }
}


